<p id="notice"><%= notice %></p>

<p>
  <strong>String:</strong>
  <%= @api_key.string %>
</p>

<p>
  <strong>String:</strong>
  <%= @api_key.string %>
</p>

<p>
  <strong>Integer:</strong>
  <%= @api_key.integer %>
</p>

<%= link_to 'Edit', edit_api_key_path(@api_key) %> |
<%= link_to 'Back', api_keys_path %>
