<p id="notice"><%= notice %></p>

<p>
  <strong>Email:</strong>
  <%= @api_key.email %>
</p>

<p>
  <strong>Api Key:</strong>
  <%= @api_key.api_key %>
</p>

<p>
  <strong>Num of requests:</strong>
  <%= @api_key.requests %>
</p>

<%= link_to 'Back', api_keys_path %>
